<!DOCTYPE html>
<html lang="de">

<head>
<link rel="stylesheet" type="text/css" href="CSS/Login.css">

</head>
<bod>
    <h1>KlaraOpp-Quiz</h1>
    <div id="LoginDiv">
        <p>
            <form id="JoinQuiz">
                <label>Am Quiz teilnehmen:</label>
                <br>
                <label>ID/Nummer: </label>
                <input type="text" id="GameIdTb">
                <br>
                <input type="submit" id="StartBtn" value="Start">
            </form>
        </p>
        <p>
            <form id="CreateQuiz">
                <label>Quiz erstellen:</label>
                <br>
                <label>E-Mail:</label>
                <input type="text" id="E-MailTb" />
                <br>
                <label>Passwort:</label>
                <input type="password" id="PasswortTb">
                <br>
                <input type="submit" id="LoginBtn" value="Login">
            </form>
        </p>
    </div>
</bod>

</html>