<!DOCTYPE html>
<html>

<head>
    <title>Katalog berarbeiten</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/EditPageCatalogue.css">
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <diV id="catalogue-div">
        <form id="catalogue-form" action="" method="post">
            Titlel:
            <input type="text" name="catTitle" placeholder="alterTitel">
            <br> Beschreibung:
            <input type="text" name="catTitle" placeholder="alteBeschreibung">
            <br>
            <input type="button" name="AddQuestion">
            <div class="Questions">
                <input type="button" name="QuizId" id="username" tabindex="1" class="form-control" placeholder="QuizID" value="">
            </div>
            <input type="submit" name="save" value="Speichern">
        </form>
    </diV>
</body>

</html>