<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" type="text/css" href="CSS/Login.css">

</head>
<body>
    <div id="NavBar">
        <h1>KlaraOpp-Quiz</h1>
    </div>


    <div id="LoginDiv">
        <p>
            <form id="JoinQuiz">
                <label>Am Quiz teilnehmen:</label>
                <br>
                <label>ID/Nummer: </label>
                <input type="text" id="GameIdTb">
                <br>
                <input type="submit" id="StartBtn" value="Start">
            </form>
        </p>
        <p>
            <form id="CreateQuiz">
                <label>Quiz erstellen:</label>
                <br>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <br>
                <input type="submit" id="LoginBtn" value="Login" style="">
            </form>
        </p>
    </div>
</body>

</html>